html {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #383838;
    font-size: 19px;
    line-height: 30px;
}

@media (min-width: 480px)  {
  html {
    font-size: 19px;
    line-height: 28px;
  }
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

a {
  color: #383838;
}

a:visited {
  color: #77477;
}

a:hover {
  color: #898989;
}

img {
  width: 220px;
  margin-bottom: 1.5rem;
}

@media (min-width: 480px)  {
  img {
    width:240px;
  }
}

h1, h2, h3, h4 {
    color: #171717;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.2rem;
}


h3, h4 {
  font-weight: 500;
}

address {
  font-style: normal;
}

address span {
    display: block;
}

dl dt {
    font-weight: 500;
}

dl dd {
    margin: 0 0 1rem 0;
}

dd ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0.9rem;
    text-indent: -0.9rem;
}

dd li::before {
    content: '– ';
}

small, address {
  font-weight: 300;
  color: #777877;
  white-space: nowrap;
}
